nav a {
    color: darkblue;
    text-decoration: none;
}

div.highlight > section {
    background-color: powderblue;
}

section + header {
    font-size: 24px;
    font-weight: bold;
}

section.navigation ~ article {
    padding: 1px;
}

form.myForm input[type="text"] {
    border-color: brown;
    margin-bottom: 5px;
}

ul li:first-child {
    font-weight: bold;
}

ul li:last-child {
    font-style: italic;
}

.guillemet::before {
    content: ">> ";
    color: brown;
}

.guillemet::after {
    content: " <<";
    color: brown;
}

img {
    border: 10px solid red;
}