div {
    border: 3px solid #000000;
    margin-bottom: 20px;
    padding-left: 15px;
}

.fixed-height {
    height: 200px;
}

.percentage-height {
    height: 50%;
}

.viewport-height {
    height: 50vh;
}

.min-max-height {
    min-height: 100px;
    max-height: 300px;
}