html {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

main {
    width: 60%;
    margin: 30px auto;
    border: 2px solid #dfdfdf;
}

details:nth-of-type(1),
details:nth-of-type(2) {
    border-bottom: 2px solid #dfdfdf;
}

details p {
    margin: 0 0 20px 0;
    padding: 0 15px;
}

details p:nth-of-type(2) {
    padding-bottom: 10px;
}

summary {
    font-weight: 600;
    padding: 15px;
}

details > summary {
    list-style-type: '\003E   ';
}

details[open] > summary {
    list-style-type: '\2228   ';
}