* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    background: #eee;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    width: 40%;
    padding: 29px 36px 28px 36px;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
}

form > h2 {
    margin-bottom: 70px;
    font-size: 21px;
    font-weight: 900;
}

.form-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form label {
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 2px;
    opacity: 0.6;
}

form input,
form textarea {
    border: 0;
    border-bottom: 2px solid #d3d3d3;
    border-radius: 3px;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: rgba(0,0,0,0.5);
}

i.state {
    margin-top: 0.2em;
    margin-bottom: 3em;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.4;
}

i.state:nth-of-type(3) {
    margin-bottom: 1.2em;
}

button {
    background-color: #eee;
    border: 0;
    border-radius: 3px;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    padding: 1em 0;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #b1b1b1;
}

@media (max-width: 800px) {
    form {
        width: 61%;
    }
}

@media (max-width: 600px) {
    form {
        width: 81%;
    }
}