.flex-container {
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.flex-basis-5em {
    flex-basis: 5em;
}

.flex-shrink-zero {
    flex-basis: 5em;
    flex-shrink: 0;
    max-width: 5em;
}

.flex-grow-one {
    width: 900px;
    flex-grow: 1;
    flex-basis: 5em;
    min-width: 1em;
}