<section id="catalog">
    <h1>All Movies</h1>
    <div class="band">

        {{#each movies}}
        <!-- If there are posts for creature in the database display each of them -->
        {{> movie}}
        {{else}}
        <!-- If there are still no posts in the database display: -->
        <div class="no-posts">
            <p class="no-offer">There are no posts yet...</p>
        </div>
        {{/each}}

    </div>
</section>