<section id="search">
    <h1>Search</h1>
    <form class="form">
        <input type="text" class="search" name="title" placeholder="Title...">
        <input type="text" name="genre" class="genre" placeholder="Genre...">
        <input type="number" name="year" class="year" placeholder="Year...">
        <input type="submit" value="search">
    </form>
</section>

<section id="catalog">
    <div class="band">

        {{#each movies}}
        <!-- If there are posts for creature in the database display each of them -->
        {{> movie}}
        {{else}}
        <!-- If there are still no posts in the database display: -->
        <div class="no-posts">
            <p class="no-offer">There are no posts yet...</p>
        </div>
        {{/each}}

    </div>
</section>