<form method="POST" class="cat-form">
    <h2>Edit Cat</h2>
    <label for="name">Name</label>
    <input name="name" type="text" id="name" value="%%name%%">
    <label for="description">Description</label>
    <textarea name="description" id="description">%%description%%</textarea>
    <label for="image">Image</label>
    <input name="imageUrl" type="text" id="image" value="%%imageUrl%%">
    <label for="group">Breed</label>
    <select name="breed" id="group">
        %%breeds%%
    </select>
    <button type="submit">Edit Cat</button>
</form>